<section>
	<form action="/validate" method="post">
		<textarea name="card_numbers" placeholder="Please enter the card numbers, one per line."></textarea>
		<input type="submit" name="validate" value="validate" id="validate">
	</form>
</section>